In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [11]:
# Create dataframes for each FAANG stock dataset and interest rate dataset.
# Interest rate dataset has notes in first 15 rows. Data headings and data starts in row 16 and below.

amazon = pd.read_csv("Amazon.csv")
apple = pd.read_csv("Apple.csv")
facebook = pd.read_csv("Facebook.csv")
google = pd.read_csv("Google.csv")
netflix = pd.read_csv("Netflix.csv")
interest = pd.read_csv("fed-funds-rate-historical-chart.csv", skiprows=15)

# Let's first review stock datasets

In [42]:
# Look at column names/counts, nulls in each column, and datatypes for each company.

print("Amazon:\n")
print(amazon.info(), "\n")
print("-"*50)

print("Apple:\n")
print(apple.info(), "\n")
print("-"*50)

print("Facebook:\n")
print(facebook.info(), "\n")
print("-"*50)

print("Google:\n")
print(google.info(), "\n")
print("-"*50)

print("Netflix:\n")
print(netflix.info(), "\n")

Amazon:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5852 non-null   object
 1   Open       5852 non-null   float64
 2   High       5852 non-null   float64
 3   Low        5852 non-null   float64
 4   Close      5852 non-null   float64
 5   Adj Close  5852 non-null   float64
 6   Volume     5852 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 320.2+ KB
None

--------------------------------------------------
Apple:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10016 entries, 0 to 10015
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10016 non-null  object
 1   Open       10015 non-null  float64
 2   High       10015 non-null  float64
 3   Low        10015 non-null  float64
 4   Close      10015 non-null  float64
 5   Adj Close  10015 non-null  float64
 6   Volume     10015 non-null  float64
dtypes: float64(6), object(1)
memory usage: 547.9+ KB
None

--------------------------------------------------
Facebook:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2076 entries, 0 to 2075
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2076 non-null   object
 1   Open       2076 non-null   float64
 2   High       2076 non-null   float64
 3   Low        2076 non-null   float64
 4   Close      2076 non-null   float64
 5   Adj Close  2076 non-null   float64
 6   Volume     2076 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 113.7+ KB
None

--------------------------------------------------
Google:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4041 entries, 0 to 4040
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4041 non-null   object
 1   Open       4041 non-null   float64
 2   High       4041 non-null   float64
 3   Low        4041 non-null   float64
 4   Close      4041 non-null   float64
 5   Adj Close  4041 non-null   float64
 6   Volume     4041 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 221.1+ KB
None

--------------------------------------------------
Netflix:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4581 entries, 0 to 4580
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4581 non-null   object
 1   Open       4581 non-null   float64
 2   High       4581 non-null   float64
 3   Low        4581 non-null   float64
 4   Close      4581 non-null   float64
 5   Adj Close  4581 non-null   float64
 6   Volume     4581 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 250.6+ KB
None

#### Notes:
1. All FAANG datasets have same number of columns and column names.
2. All datatypes of each column are consistent across each dataset, except Apple's Volume column is a float while the other datasets are integer.
3. 'Date' column in each dataset is not datetime type.
4. 'Adj Close' column has a space which may not be best.
5. There is one instance of null values in the Apple dataset.
6. Many columns not needed for our analysis. We do not plan to analyze intra-day changes, so can remove 'Open', 'High' and 'Low' columns. We will be looking at 'Adj Close' instead of 'Close' so can remove 'Close' column.
7. Probably want to rename column headings specific to each stock to uniquely identify when created merged dataframe ('Apple_Adj_Close', etc.). 

#### To do:
1. Change 'Adj Close' column to remove space for cleaner syntax/manipulation.
2. Change 'Date' column to datetime type.
3. Look into null values in Apple dataset.
4. Make Apple's Volume datatype an integer like the other datasets?
5. Drop 'Open', 'High', 'Low and 'Close' columns.
6. Rename headings in each stock dataset to specific stock ('Apple_Adj_close', etc.).

In [43]:
# Glance at rows of data for each company.

print("Amazon:\n")
print(amazon.sort_values("Date").head(), "\n")
print("-"*50)

print("Apple:\n")
print(apple.sort_values("Date").head(), "\n")
print("-"*50)

print("Facebook:\n")
print(facebook.sort_values("Date").head(), "\n")
print("-"*50)

print("Google:\n")
print(google.sort_values("Date").head(), "\n")
print("-"*50)

print("Netflix:\n")
print(netflix.sort_values("Date").head(), "\n")

Amazon:

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2  1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
3  1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
4  1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

--------------------------------------------------
Apple:

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.101261  469033600.0
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095978  175884800.0
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088934  105728000.0
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.091135   86441600.0
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.093777   73449600.0

--------------------------------------------------
Facebook:

         Date       Open       High        Low      Close  Adj Close  \
0  2012-05-18  42.049999  45.000000  38.000000  38.230000  38.230000
1  2012-05-21  36.529999  36.660000  33.000000  34.029999  34.029999
2  2012-05-22  32.610001  33.590000  30.940001  31.000000  31.000000
3  2012-05-23  31.370001  32.500000  31.360001  32.000000  32.000000
4  2012-05-24  32.950001  33.209999  31.770000  33.029999  33.029999

      Volume
0  573576400
1  168192700
2  101786600
3   73600000
4   50237200

--------------------------------------------------
Google:

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  50.050049  52.082081  48.028027  50.220219  50.220219  44659000
1  2004-08-20  50.555557  54.594593  50.300301  54.209209  54.209209  22834300
2  2004-08-23  55.430431  56.796795  54.579578  54.754753  54.754753  18256100
3  2004-08-24  55.675674  55.855854  51.836838  52.487488  52.487488  15247300
4  2004-08-25  52.532532  54.054054  51.991993  53.053055  53.053055   9188600

--------------------------------------------------
Netflix:

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

#### Notes:
1. Looks like the starting dates of data vary across datasets.
2. There are a lot of decimals for float columns.
3. We see the 'Volume' column for Apple as a float here.

#### To do (Cumulative):
1. Change 'Adj Close' column to remove space for cleaner syntax/manipulation.
2. Change 'Date' column to datetime type.
3. Look into null values in Apple dataset.
4. Make Apple's Volume datatype an integer like the other datasets?
5. Drop 'Open', 'High', 'Low' and 'Close' columns.
6. Rename headings in each stock dataset to specific stock ('Apple_Adj_close', etc.).
7. Round all float columns to 2 decimals (more intuitive and cleaner visually).
8. Consider only including dates where we have data across all stocks?

In [50]:
# Confirm no duplicate date entries

print("Amazon:\n")
print(amazon["Date"].value_counts(dropna=False), "\n")
print("-"*50)

print("Apple:\n")
print(apple["Date"].value_counts(dropna=False), "\n")
print("-"*50)

print("Facebook:\n")
print(facebook["Date"].value_counts(dropna=False), "\n")
print("-"*50)

print("Google:\n")
print(google["Date"].value_counts(dropna=False), "\n")
print("-"*50)

print("Netflix:\n")
print(netflix["Date"].value_counts(dropna=False), "\n")

Amazon:

1997-05-15    1
2012-11-27    1
2012-11-23    1
2012-11-21    1
2012-11-20    1
             ..
2005-02-11    1
2005-02-10    1
2005-02-09    1
2005-02-08    1
2020-08-14    1
Name: Date, Length: 5852, dtype: int64

--------------------------------------------------
Apple:

1980-12-12    1
2007-06-05    1
2007-05-24    1
2007-05-25    1
2007-05-29    1
             ..
1994-02-25    1
1994-02-28    1
1994-03-01    1
1994-03-02    1
2020-09-01    1
Name: Date, Length: 10016, dtype: int64

--------------------------------------------------
Facebook:

2012-05-18    1
2017-10-18    1
2017-11-30    1
2017-11-29    1
2017-11-28    1
             ..
2015-02-11    1
2015-02-10    1
2015-02-09    1
2015-02-06    1
2020-08-18    1
Name: Date, Length: 2076, dtype: int64

--------------------------------------------------
Google:

2004-08-19    1
2015-05-11    1
2015-04-22    1
2015-04-23    1
2015-04-24    1
             ..
2009-12-31    1
2010-01-04    1
2010-01-05    1
2010-01-06    1
2020-09-04    1
Name: Date, Length: 4041, dtype: int64

--------------------------------------------------
Netflix:

2002-05-23    1
2014-07-09    1
2014-07-17    1
2014-07-16    1
2014-07-15    1
             ..
2008-06-25    1
2008-06-26    1
2008-06-27    1
2008-06-30    1
2020-08-03    1
Name: Date, Length: 4581, dtype: int64

#### Notes:
1. No duplicate date entries!

In [114]:
# Confirm no negative values for 'Adj Close' or 'Volume' columns

print("Amazon:\n")
print(amazon[(amazon["Adj Close"] < 0) | (amazon["Volume"] < 0)], "\n")
print("-"*50)

print("Apple:\n")
print(apple[(apple["Adj Close"] < 0) | (apple["Volume"] < 0)], "\n")
print("-"*50)

print("Facebook:\n")
print(facebook[(facebook["Adj Close"] < 0) | (facebook["Volume"] < 0)], "\n")
print("-"*50)

print("Google:\n")
print(google[(google["Adj Close"] < 0) | (google["Volume"] < 0)], "\n")
print("-"*50)

print("Netflix:\n")
print(netflix[(netflix["Adj Close"] < 0) | (netflix["Volume"] < 0)], "\n")

Amazon:

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

--------------------------------------------------
Apple:

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

--------------------------------------------------
Facebook:

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

--------------------------------------------------
Google:

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

--------------------------------------------------
Netflix:

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

#### Notes:
1. No negative values in 'Adj Close' or 'Volume' columns like expected!

# Let's clean stock datasets

#### To do list (Cumulative):
1. Change 'Adj Close' column to remove space for cleaner syntax/manipulation.
2. Change 'Date' column to datetime type.
3. Look into null values in Apple dataset.
4. Make Apple's Volume datatype an integer like the other datasets?
5. Drop 'Open', 'High', 'Low' and 'Close' columns.
6. Rename headings in each stock dataset to specific stock ('Apple_Adj_close', etc.).
7. Round all float columns to 2 decimals (more intuitive and cleaner visually).
8. Consider only including dates where we have data across all stocks?

In [54]:
# Drop columns not needed

amazon_clean = amazon.drop(["Open","High","Low","Close"], axis=1)
apple_clean = apple.drop(["Open","High","Low","Close"], axis=1)
facebook_clean = facebook.drop(["Open","High","Low","Close"], axis=1)
google_clean = google.drop(["Open","High","Low","Close"], axis=1)
netflix_clean = netflix.drop(["Open","High","Low","Close"], axis=1)

print("Amazon:\n")
print(amazon_clean.columns, "\n")
print("-"*50)

print("Apple:\n")
print(apple_clean.columns, "\n")
print("-"*50)

print("Facebook:\n")
print(facebook_clean.columns, "\n")
print("-"*50)

print("Google:\n")
print(google_clean.columns, "\n")
print("-"*50)

print("Netflix:\n")
print(netflix_clean.columns, "\n")

Amazon:

Index(['Date', 'Adj Close', 'Volume'], dtype='object')

--------------------------------------------------
Apple:

Index(['Date', 'Adj Close', 'Volume'], dtype='object')

--------------------------------------------------
Facebook:

Index(['Date', 'Adj Close', 'Volume'], dtype='object')

--------------------------------------------------
Google:

Index(['Date', 'Adj Close', 'Volume'], dtype='object')

--------------------------------------------------
Netflix:

Index(['Date', 'Adj Close', 'Volume'], dtype='object')

In [55]:
# Rename headings in each stock dataset to specific stock ('Apple_Adj_close', etc.)

amazon_clean = amazon_clean.rename(columns = {"Adj Close": "Amazon_Adj_Close", "Volume":"Amazon_Vol"})
apple_clean = apple_clean.rename(columns = {"Adj Close": "Apple_Adj_Close", "Volume":"Apple_Vol"})
facebook_clean = facebook_clean.rename(columns = {"Adj Close": "Facebook_Adj_Close", "Volume":"Facebook_Vol"})
google_clean = google_clean.rename(columns = {"Adj Close": "Google_Adj_Close", "Volume":"Google_Vol"})
netflix_clean = netflix_clean.rename(columns = {"Adj Close": "Netflix_Adj_Close", "Volume":"Netflix_Vol"})

print("Amazon:\n")
print(amazon_clean.columns, "\n")
print("-"*50)

print("Apple:\n")
print(apple_clean.columns, "\n")
print("-"*50)

print("Facebook:\n")
print(facebook_clean.columns, "\n")
print("-"*50)

print("Google:\n")
print(google_clean.columns, "\n")
print("-"*50)

print("Netflix:\n")
print(netflix_clean.columns, "\n")

Amazon:

Index(['Date', 'Amazon_Adj_Close', 'Amazon_Vol'], dtype='object')

--------------------------------------------------
Apple:

Index(['Date', 'Apple_Adj_Close', 'Apple_Vol'], dtype='object')

--------------------------------------------------
Facebook:

Index(['Date', 'Facebook_Adj_Close', 'Facebook_Vol'], dtype='object')

--------------------------------------------------
Google:

Index(['Date', 'Google_Adj_Close', 'Google_Vol'], dtype='object')

--------------------------------------------------
Netflix:

Index(['Date', 'Netflix_Adj_Close', 'Netflix_Vol'], dtype='object')

In [57]:
# Change 'Date' column to datetime type.

amazon_clean["Date"] = pd.to_datetime(amazon_clean["Date"])
apple_clean["Date"] = pd.to_datetime(apple_clean["Date"])
facebook_clean["Date"] = pd.to_datetime(facebook_clean["Date"])
google_clean["Date"] = pd.to_datetime(google_clean["Date"])
netflix_clean["Date"] = pd.to_datetime(netflix_clean["Date"])

print("Amazon:\n")
print(amazon_clean["Date"].dtypes, "\n")
print("-"*50)

print("Apple:\n")
print(apple_clean["Date"].dtypes, "\n")
print("-"*50)

print("Facebook:\n")
print(facebook_clean["Date"].dtypes, "\n")
print("-"*50)

print("Google:\n")
print(google_clean["Date"].dtypes, "\n")
print("-"*50)

print("Netflix:\n")
print(netflix_clean["Date"].dtypes, "\n")

Amazon:

datetime64[ns]

--------------------------------------------------
Apple:

datetime64[ns]

--------------------------------------------------
Facebook:

datetime64[ns]

--------------------------------------------------
Google:

datetime64[ns]

--------------------------------------------------
Netflix:

datetime64[ns]

In [61]:
# Remove null rows in Apple dataset

apple_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10016 entries, 0 to 10015
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             10016 non-null  datetime64[ns]
 1   Apple_Adj_Close  10015 non-null  float64
 2   Apple_Vol        10015 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 234.9 KB

In [70]:
apple_clean[apple_clean["Apple_Adj_Close"].isnull()]

          Date  Apple_Adj_Close  Apple_Vol
165 1981-08-10              NaN        NaN

In [92]:
apple_clean = apple_clean.drop(165, axis=0)

In [93]:
apple_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10015 entries, 0 to 10015
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             10015 non-null  datetime64[ns]
 1   Apple_Adj_Close  10015 non-null  float64
 2   Apple_Vol        10015 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 313.0 KB

In [96]:
# Make Apple's Volume datatype an integer like the other datasets.

apple_clean["Apple_Vol"] = apple_clean["Apple_Vol"].astype(int)

In [97]:
apple_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10015 entries, 0 to 10015
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             10015 non-null  datetime64[ns]
 1   Apple_Adj_Close  10015 non-null  float64
 2   Apple_Vol        10015 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 313.0 KB

In [98]:
apple_clean.head()

        Date  Apple_Adj_Close  Apple_Vol
0 1980-12-12         0.101261  469033600
1 1980-12-15         0.095978  175884800
2 1980-12-16         0.088934  105728000
3 1980-12-17         0.091135   86441600
4 1980-12-18         0.093777   73449600

In [102]:
# Round all float columns to 2 decimals (more intuitive and cleaner visually)

amazon_clean["Amazon_Adj_Close"] = amazon_clean["Amazon_Adj_Close"].round(2)
apple_clean["Apple_Adj_Close"] = apple_clean["Apple_Adj_Close"].round(2)
facebook_clean["Facebook_Adj_Close"] = facebook_clean["Facebook_Adj_Close"].round(2)
google_clean["Google_Adj_Close"] = google_clean["Google_Adj_Close"].round(2)
netflix_clean["Netflix_Adj_Close"] = netflix_clean["Netflix_Adj_Close"].round(2)

print("Amazon:\n")
print(amazon_clean.sort_values("Date").head(), "\n")
print("-"*50)

print("Apple:\n")
print(apple_clean.sort_values("Date").head(), "\n")
print("-"*50)

print("Facebook:\n")
print(facebook_clean.sort_values("Date").head(), "\n")
print("-"*50)

print("Google:\n")
print(google_clean.sort_values("Date").head(), "\n")
print("-"*50)

print("Netflix:\n")
print(netflix_clean.sort_values("Date").head(), "\n")

Amazon:

        Date  Amazon_Adj_Close  Amazon_Vol
0 1997-05-15              1.96    72156000
1 1997-05-16              1.73    14700000
2 1997-05-19              1.71     6106800
3 1997-05-20              1.64     5467200
4 1997-05-21              1.43    18853200

--------------------------------------------------
Apple:

        Date  Apple_Adj_Close  Apple_Vol
0 1980-12-12             0.10  469033600
1 1980-12-15             0.10  175884800
2 1980-12-16             0.09  105728000
3 1980-12-17             0.09   86441600
4 1980-12-18             0.09   73449600

--------------------------------------------------
Facebook:

        Date  Facebook_Adj_Close  Facebook_Vol
0 2012-05-18               38.23     573576400
1 2012-05-21               34.03     168192700
2 2012-05-22               31.00     101786600
3 2012-05-23               32.00      73600000
4 2012-05-24               33.03      50237200

--------------------------------------------------
Google:

        Date  Google_Adj_Close  Google_Vol
0 2004-08-19             50.22    44659000
1 2004-08-20             54.21    22834300
2 2004-08-23             54.75    18256100
3 2004-08-24             52.49    15247300
4 2004-08-25             53.05     9188600

--------------------------------------------------
Netflix:

        Date  Netflix_Adj_Close  Netflix_Vol
0 2002-05-23               1.20    104790000
1 2002-05-24               1.21     11104800
2 2002-05-28               1.16      6609400
3 2002-05-29               1.10      6757800
4 2002-05-30               1.07     10154200

# Let's review interest rate dataset

In [125]:
# Look at column names/counts, nulls in each column, and datatypes.

print("Interest Rates:\n")
print(interest.info())

Interest Rates:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24483 entries, 0 to 24482
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    24483 non-null  object
 1    value  24462 non-null  float64
dtypes: float64(1), object(1)
memory usage: 382.7+ KB
None

#### Notes:
1. Column names can be changed: 'date' column different than 'Date' in stock datasets and ' value' column not clear and has extra whitespace in name.
2. 'date' column is not datetime type.
3. There are null values in the 'value' column.

#### To do:
1. Change 'date' column name to "Date".
2. Change ' value' column name to "Int_Rate".
3. Change 'date' column to datetime type.
4. Look into null values in 'value' column.

In [128]:
# Glance at rows of data.

print("Interest Rates:\n")
print(interest.sort_values("date").head(10))
print(interest.sort_values("date").tail(10))

Interest Rates:

         date   value
0  1954-07-01    1.13
1  1954-07-02    1.25
2  1954-07-03    1.25
3  1954-07-04    1.25
4  1954-07-05    0.88
5  1954-07-06    0.25
6  1954-07-07    1.00
7  1954-07-08    1.25
8  1954-07-09    1.25
9  1954-07-10    1.25
             date   value
24473  2022-11-21     NaN
24474  2022-11-22     NaN
24475  2022-11-23     NaN
24476  2022-11-24     NaN
24477  2022-11-25     NaN
24478  2022-11-26     NaN
24479  2022-11-27     NaN
24480  2022-11-28     NaN
24481  2022-11-29     NaN
24482  2022-11-30     NaN

In [131]:
# Look at min, max and mean of interest rates

print("Min: ", interest[" value"].min())
print("Max: ", interest[" value"].max())
print("Mean: ", interest[" value"].mean())

Min:  0.04
Max:  22.36
Mean:  4.669059357370667

#### Notes:
1. Data seems like what we would expect.
2. Min, max and mean interest rates seem reasonable (no negative interest rates).
3. We see the null values in the ' value' column here.
4. ' values' column format with 2 decimals looks good. May round to 2 decimals like stock datasets.

#### To do (Cumulative):
1. Change 'date' column name to "Date".
2. Change ' value' column name to "Int_Rate".
3. Change 'date' column to datetime type.
4. Look into null values in 'value' column.
5. Round ' value' column to 2 decimals like stock datasets.

In [132]:
# Confirm no duplicate date entries

print("Interest Rates:\n")
print(interest["date"].value_counts(dropna=False))

Interest Rates:

1954-07-01    1
1999-03-05    1
1999-03-14    1
1999-03-13    1
1999-03-12    1
             ..
1976-11-01    1
1976-10-31    1
1976-10-30    1
1976-10-29    1
2022-11-30    1
Name: date, Length: 24483, dtype: int64

#### Notes:
1. No duplicate date entries!

# Let's clean interest rate dataset

#### To do List (Cumulative):
1. Change 'date' column name to "Date".
2. Change ' value' column name to "Int_Rate".
3. Change 'date' column to datetime type.
4. Look into null values in 'value' column.
5. Round ' value' column to 2 decimals like stock datasets.

In [139]:
#Change 'date' column name to "Date".
#Change ' value' column name to "Int_Rate".

interest_clean = interest.rename(columns = {"date":"Date", " value":"Int_Rate"})

In [142]:
interest_clean.columns

Index(['Date', 'Int_Rate'], dtype='object')

In [143]:
# Round 'Int_Rate' column to 2 decimals (might be already but just to be sure)

interest_clean["Int_Rate"] = interest_clean["Int_Rate"].round(2)

print(interest_clean.head())

         Date  Int_Rate
0  1954-07-01      1.13
1  1954-07-02      1.25
2  1954-07-03      1.25
3  1954-07-04      1.25
4  1954-07-05      0.88

In [145]:
# Look into null values in 'Int_Rate' column.

interest_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24483 entries, 0 to 24482
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      24483 non-null  object
 1   Int_Rate  24462 non-null  float64
dtypes: float64(1), object(1)
memory usage: 382.7+ KB

In [149]:
interest_clean[interest_clean["Int_Rate"].isnull()]

             Date  Int_Rate
24462  2022-11-10       NaN
24463  2022-11-11       NaN
24464  2022-11-12       NaN
24465  2022-11-13       NaN
24466  2022-11-14       NaN
24467  2022-11-15       NaN
24468  2022-11-16       NaN
24469  2022-11-17       NaN
24470  2022-11-18       NaN
24471  2022-11-19       NaN
24472  2022-11-20       NaN
24473  2022-11-21       NaN
24474  2022-11-22       NaN
24475  2022-11-23       NaN
24476  2022-11-24       NaN
24477  2022-11-25       NaN
24478  2022-11-26       NaN
24479  2022-11-27       NaN
24480  2022-11-28       NaN
24481  2022-11-29       NaN
24482  2022-11-30       NaN

In [150]:
print(len(interest_clean))
interest_clean = interest_clean.dropna(axis=0)
print(len(interest_clean))

24483
24462

In [151]:
interest_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24462 entries, 0 to 24461
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      24462 non-null  object
 1   Int_Rate  24462 non-null  float64
dtypes: float64(1), object(1)
memory usage: 573.3+ KB

In [152]:
# Change "Date" column to datetime type
interest_clean["Date"] = pd.to_datetime(interest_clean["Date"])

print(interest_clean["Date"].dtypes, "\n")

datetime64[ns]

# Let's merge cleaned dataframes into 1 dataframe

In [179]:
# First merge stock datasets on the "Date" fields (outer join; keeping all dates for now).

merged_df = pd.merge(left = amazon_clean, right = apple_clean, on = "Date", how = "outer")
merged_df = pd.merge(left = merged_df, right = facebook_clean, on = "Date", how = "outer")
merged_df = pd.merge(left = merged_df, right = google_clean, on = "Date", how = "outer")
merged_df = pd.merge(left = merged_df, right = netflix_clean, on = "Date", how = "outer")
merged_df

,Date,Amazon_Adj_Close,Amazon_Vol,Apple_Adj_Close,Apple_Vol,Facebook_Adj_Close,Facebook_Vol,Google_Adj_Close,Google_Vol,Netflix_Adj_Close,Netflix_Vol
0,1997-05-15,1.96,72156000.0,0.14,99008000.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1997-05-16,1.73,14700000.0,0.13,93296000.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1997-05-19,1.71,6106800.0,0.13,52259200.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1997-05-20,1.64,5467200.0,0.13,84828800.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1997-05-21,1.43,18853200.0,0.13,122248000.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10013,2020-08-31,NaN,NaN,129.04,225702700.0,NaN,NaN,1629.53,1321100.0,NaN,NaN
10014,2020-09-01,NaN,NaN,134.18,151948100.0,NaN,NaN,1655.08,1133800.0,NaN,NaN
10015,2020-09-02,NaN,NaN,NaN,NaN,NaN,NaN,1717.39,2476100.0,NaN,NaN
10016,2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,1629.51,3180200.0,NaN,NaN
10017,2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,1581.21,2792533.0,NaN,NaN

In [180]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10018 entries, 0 to 10017
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                10018 non-null  datetime64[ns]
 1   Amazon_Adj_Close    5852 non-null   float64
 2   Amazon_Vol          5852 non-null   float64
 3   Apple_Adj_Close     10015 non-null  float64
 4   Apple_Vol           10015 non-null  float64
 5   Facebook_Adj_Close  2076 non-null   float64
 6   Facebook_Vol        2076 non-null   float64
 7   Google_Adj_Close    4041 non-null   float64
 8   Google_Vol          4041 non-null   float64
 9   Netflix_Adj_Close   4581 non-null   float64
 10  Netflix_Vol         4581 non-null   float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 939.2 KB

#### Volume columns converted to floats due to merge. We are okay with this!

In [181]:
# Now merge interest rate dataset on the "Date" fields (inner join; don't need interest rates where no data
# on stocks).

merged_df = pd.merge(left = merged_df, right = interest_clean, on = "Date", how = "inner")
merged_df

,Date,Amazon_Adj_Close,Amazon_Vol,Apple_Adj_Close,Apple_Vol,Facebook_Adj_Close,Facebook_Vol,Google_Adj_Close,Google_Vol,Netflix_Adj_Close,Netflix_Vol,Int_Rate
0,1997-05-15,1.96,72156000.0,0.14,99008000.0,NaN,NaN,NaN,NaN,NaN,NaN,5.71
1,1997-05-16,1.73,14700000.0,0.13,93296000.0,NaN,NaN,NaN,NaN,NaN,NaN,5.44
2,1997-05-19,1.71,6106800.0,0.13,52259200.0,NaN,NaN,NaN,NaN,NaN,NaN,5.55
3,1997-05-20,1.64,5467200.0,0.13,84828800.0,NaN,NaN,NaN,NaN,NaN,NaN,5.51
4,1997-05-21,1.43,18853200.0,0.13,122248000.0,NaN,NaN,NaN,NaN,NaN,NaN,5.56
...,...,...,...,...,...,...,...,...,...,...,...,...
10009,2020-08-31,NaN,NaN,129.04,225702700.0,NaN,NaN,1629.53,1321100.0,NaN,NaN,0.09
10010,2020-09-01,NaN,NaN,134.18,151948100.0,NaN,NaN,1655.08,1133800.0,NaN,NaN,0.09
10011,2020-09-02,NaN,NaN,NaN,NaN,NaN,NaN,1717.39,2476100.0,NaN,NaN,0.09
10012,2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,1629.51,3180200.0,NaN,NaN,0.09
10013,2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,1581.21,2792533.0,NaN,NaN,0.09

In [182]:
# Sort merged_df by date ascending

merged_df = merged_df.sort_values("Date", ascending=True)
merged_df

,Date,Amazon_Adj_Close,Amazon_Vol,Apple_Adj_Close,Apple_Vol,Facebook_Adj_Close,Facebook_Vol,Google_Adj_Close,Google_Vol,Netflix_Adj_Close,Netflix_Vol,Int_Rate
5848,1980-12-12,NaN,NaN,0.10,469033600.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44
5849,1980-12-15,NaN,NaN,0.10,175884800.0,NaN,NaN,NaN,NaN,NaN,NaN,19.62
5850,1980-12-16,NaN,NaN,0.09,105728000.0,NaN,NaN,NaN,NaN,NaN,NaN,20.45
5851,1980-12-17,NaN,NaN,0.09,86441600.0,NaN,NaN,NaN,NaN,NaN,NaN,20.27
5852,1980-12-18,NaN,NaN,0.09,73449600.0,NaN,NaN,NaN,NaN,NaN,NaN,20.74
...,...,...,...,...,...,...,...,...,...,...,...,...
10009,2020-08-31,NaN,NaN,129.04,225702700.0,NaN,NaN,1629.53,1321100.0,NaN,NaN,0.09
10010,2020-09-01,NaN,NaN,134.18,151948100.0,NaN,NaN,1655.08,1133800.0,NaN,NaN,0.09
10011,2020-09-02,NaN,NaN,NaN,NaN,NaN,NaN,1717.39,2476100.0,NaN,NaN,0.09
10012,2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,1629.51,3180200.0,NaN,NaN,0.09
10013,2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,1581.21,2792533.0,NaN,NaN,0.09

In [183]:
# Reset index of dataframe

merged_df = merged_df.reset_index(drop=True)
merged_df

,Date,Amazon_Adj_Close,Amazon_Vol,Apple_Adj_Close,Apple_Vol,Facebook_Adj_Close,Facebook_Vol,Google_Adj_Close,Google_Vol,Netflix_Adj_Close,Netflix_Vol,Int_Rate
0,1980-12-12,NaN,NaN,0.10,469033600.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44
1,1980-12-15,NaN,NaN,0.10,175884800.0,NaN,NaN,NaN,NaN,NaN,NaN,19.62
2,1980-12-16,NaN,NaN,0.09,105728000.0,NaN,NaN,NaN,NaN,NaN,NaN,20.45
3,1980-12-17,NaN,NaN,0.09,86441600.0,NaN,NaN,NaN,NaN,NaN,NaN,20.27
4,1980-12-18,NaN,NaN,0.09,73449600.0,NaN,NaN,NaN,NaN,NaN,NaN,20.74
...,...,...,...,...,...,...,...,...,...,...,...,...
10009,2020-08-31,NaN,NaN,129.04,225702700.0,NaN,NaN,1629.53,1321100.0,NaN,NaN,0.09
10010,2020-09-01,NaN,NaN,134.18,151948100.0,NaN,NaN,1655.08,1133800.0,NaN,NaN,0.09
10011,2020-09-02,NaN,NaN,NaN,NaN,NaN,NaN,1717.39,2476100.0,NaN,NaN,0.09
10012,2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,1629.51,3180200.0,NaN,NaN,0.09
10013,2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,1581.21,2792533.0,NaN,NaN,0.09

In [184]:
# Save the clean, merged dataframe to csv

merged_df.to_csv("Cleaned_Merged.csv")